electron_mirror=https://npmmirror.com/mirrors/electron/
electron-nightly_mirror=https://npmmirror.com/mirrors/electron-nightly/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
